<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="header">
    <a href="/">To Main</a>

    <!-- 로그인 상태 -->
    <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/logout}">Logout</a>
    <!-- 비로그인 상태 -->
    <a th:if="${#authorization.expression('!isAuthenticated()')}" th:href="@{/login}">To Login</a>
    <span th:if="${#authorization.expression('isAuthenticated()')}" th:text="${#authentication.getName()}"></span>
</div>

<nav style="display: flex; flex-direction: column;">
    <a href="/empty_url">empty url</a>
    <a href="/guest">Role -> Guest (need login)</a>
    <a href="/user">Role -> User Guest</a>
    <a href="/admin">Role -> Admin User Guest</a>
</nav>
</html>
